:root {
  --color-white: rgb(224, 224, 230);
  --turquoise: rgb(33, 133, 133);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-size: 2.4rem;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: "Montserrat", sans-serif;
}

.form__section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form__section form {
  transform: translateY(50px) scale(0.8);
  opacity: 0;
  transition: all 0.3s ease;
  pointer-events: none;
}

.form__section--active {
  z-index: 1;
}
.form__section--active form {
  transform: translateY(0) scale(1);
  opacity: 1;
  pointer-events: all;
}

form {
  max-width: 500px;
  min-height: 500px;
  background-color: rgba(49, 47, 43, 0.75);
  padding: 25px 40px;
  border-radius: 10px;
  font-size: 3.5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.form__group {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.form__input-container {
  position: relative;
}
.form__input-container .error {
  font-size: 1.6rem;
  color: rgb(209, 52, 52);
  padding: 0 5px;
  position: absolute;
  top: calc(100% + 10px);
}
.form__input-container .error__forgot {
  text-align: center;
  width: 100%;
}
.form__input-container.success .error {
  color: rgb(7, 177, 177);
}
.form__input-container .eye-icon {
  position: absolute;
  z-index: 1;
  right: 5%;
  top: 2%;
  width: 40px;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.form__input-container .eye-icon--hidden {
  opacity: 0;
  pointer-events: none;
}
.form__input-container .eye-open,
.form__input-container .eye-close {
  filter: invert(60%);
}

.input__placeholder,
.button__login {
  border: none;
  border-radius: 15px;
  padding: 30px 12px;
  background-color: rgba(114, 109, 101, 0.7);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.input__placeholder.button__new-password,
.button__login.button__new-password {
  padding: 20px 15px;
  margin-top: 10px;
}
.input__placeholder:hover,
.button__login:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 54px 55px, rgba(0, 0, 0, 0.25) 0px -12px 30px, rgba(0, 0, 0, 0.19) 0px 4px 6px, rgba(0, 0, 0, 0.29) 0px 12px 13px, rgba(0, 0, 0, 0.15) 0px -3px 5px;
}

.label__placeholder {
  color: var(--turquoise);
  text-align: center;
  font-style: italic;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  transition: left 0.3s, opacity 0.3s;
  pointer-events: none;
  opacity: 0.65;
}

.input__placeholder {
  width: 100%;
  font-size: 3rem;
  color: var(--color-white);
  font-style: italic;
  padding-left: 3rem;
}
.input__placeholder:not(:-moz-placeholder-shown) + label {
  left: 300px;
  opacity: 0;
}
.input__placeholder:focus + label, .input__placeholder:not(:placeholder-shown) + label {
  left: 300px;
  opacity: 0;
}
.input__placeholder:hover {
  outline: solid 3px rgba(83, 81, 69, 0.8);
}

.button__login {
  display: block;
  margin: 3rem auto;
  padding: 20px 50px;
  color: var(--color-white);
  min-width: 100px;
  font-size: 3.2rem;
  transition: 0.3s ease;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.button__login:hover {
  background-color: rgba(83, 81, 69, 0.8);
  color: var(--turquoise);
}

.form__paragraph {
  text-align: center;
  color: var(--color-white);
  font-size: 2.2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.form__paragraph span {
  color: var(--turquoise);
  position: relative;
}
.form__paragraph span::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: rgba(173, 157, 112, 0.4);
  transition: width 0.3s ease;
}
.form__paragraph span:hover {
  cursor: pointer;
}
.form__paragraph span:hover::before {
  width: 100%;
}
.form__paragraph span .register-link,
.form__paragraph span .login-link {
  color: var(--turquoise);
  text-decoration: none;
}

.form__spacer {
  background: rgba(182, 182, 175, 0.55);
  border-radius: 100%;
  height: 2px;
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 20px;
}

.form__title {
  text-align: center;
  color: var(--color-white);
  padding: 1rem 0;
  margin-bottom: 1rem;
  font-weight: 500;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.form__checkbox-remember {
  display: flex;
  justify-content: space-between;
}
.form__checkbox-remember a {
  font-size: 2rem;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: rgb(173, 157, 112);
}
.form__checkbox-remember a:hover {
  color: var(--turquoise);
}
.form__checkbox-remember .label__input-checkbox {
  font-size: 2rem;
  color: var(--color-white);
}
.form__checkbox-remember .label__input-checkbox .input__checkbox {
  position: relative;
  width: 2rem;
  height: 2rem;
  background-color: rgb(114, 109, 101);
  border-radius: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.form__checkbox-remember .label__input-checkbox .input__checkbox:checked {
  background-color: var(--turquoise);
  opacity: 0.9;
}
.form__checkbox-remember .label__input-checkbox .input__checkbox::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 7px;
  width: 4px;
  height: 11px;
  border: 4px solid transparent;
  border-left: none;
  border-top: none;
  transform: rotate(45deg) scale(1);
}
.form__checkbox-remember .label__input-checkbox .input__checkbox:checked::before {
  border-color: var(--color-white);
  animation: checkAnimation 0.3s ease;
}
@keyframes checkAnimation {
  from {
    transform: rotate(45deg) scale(0);
  }
}

.form__under-title {
  font-size: 2.4rem;
  color: rgb(173, 157, 112);
  text-align: center;
  padding-bottom: 1.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.popup__terms__section {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.terms__section {
  max-width: 750px;
  background-color: rgb(36, 34, 25);
  color: var(--color-white);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 60px 30px;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
}
.terms__section .read-rules {
  padding: 20px 50px;
  text-align: center;
}
.terms__section .read-rules span {
  color: var(--turquoise);
  font-weight: bolder;
}
.terms__section .terms__section-text {
  padding: 0 20px;
  height: 500px;
  overflow-y: auto;
  font-weight: 500;
}
.terms__section .terms__section-text::-webkit-scrollbar {
  width: 3px;
  background-color: rgb(63, 63, 63);
}
.terms__section .terms__section-text::-webkit-scrollbar-thumb {
  background-color: var(--turquoise);
  height: 10px;
}
.terms__section .terms__section-text h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
.terms__section .terms__section-text .terms__section-update {
  text-align: center;
}
.terms__section .terms__section-text .terms__section-greeting {
  font-size: 3.5rem;
  font-style: italic;
  font-weight: bolder;
}
.terms__section .terms__section-text p {
  padding: 10px;
  font-family: "Montserrat", sans-serif;
}
.terms__section .terms__section-buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 0 10px;
  font-family: "Montserrat", sans-serif;
}
.terms__section .terms__section-buttons .terms__button {
  height: 70px;
  width: calc(50% - 100px);
  border: 0;
  border-radius: 10px;
  font-size: 3rem;
  color: var(--color-white);
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  transition: 0.3s ease;
  background-color: rgba(66, 65, 64, 0.7);
}
.terms__section .terms__section-buttons .btn-decline:hover {
  background-color: rgba(150, 60, 37, 0.7);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 54px 55px, rgba(0, 0, 0, 0.25) 0px -12px 30px, rgba(0, 0, 0, 0.19) 0px 4px 6px, rgba(0, 0, 0, 0.29) 0px 12px 13px, rgba(0, 0, 0, 0.15) 0px -3px 5px;
}
.terms__section .terms__section-buttons .btn-accept {
  background-color: var(--turquoise);
}
.terms__section .terms__section-buttons .btn-accept:hover {
  background-color: rgba(50, 139, 139, 0.7);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 54px 55px, rgba(0, 0, 0, 0.25) 0px -12px 30px, rgba(0, 0, 0, 0.19) 0px 4px 6px, rgba(0, 0, 0, 0.29) 0px 12px 13px, rgba(0, 0, 0, 0.15) 0px -3px 5px;
}/*# sourceMappingURL=main.css.map */